#div1{
    width: 500px;
    background-color: yellow;
    border: 2px solid black;
    padding: 20px;
    align-self: center;
    margin:
}

#div2 {
    width: 500px;
    background-color: orange;
    border: 2px solid black;
    padding: 20px;
}

body {
    border: 2px dotted black;
}